.setting-container {
  padding: 32px 32px 0;
  min-width: unset;
  max-width: unset;
}

.setting {
  display: flex;
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  overflow: hidden;
  corner-shape: superellipse(1.1);
  box-shadow: var(--shadow-l);
}

.setting-sidebar {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  padding: 12px;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 12px 0;
}
.sidebar-title {
  padding: 8px;
  color: var(--text-faint);
  font-weight: 600;
  font-size: var(--font-ui-smaller);
}
.sidebar-link {
  border-radius: var(--radius-s);
  padding: 4px 8px;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  corner-shape: superellipse(1.1);
}

.setting-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px 48px;
}
.setting-header {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: var(--radius-m);
  padding-bottom: 12px;
}

.setting-search {
  display: flex;
  align-items: center;
  gap: 8px;
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  background: var(--background-modifier-form-field);
  padding: 4px 8px;
  min-width: 50%;
  height: 32px;
  color: var(--text-faint);
  font-size: var(--font-ui-small);
  white-space: nowrap;
  corner-shape: superellipse(1.1);
}
.setting-search svg {
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}

.setting-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.setting-actions button {
  border: none;
  border-radius: var(--radius-s);
  background: none;
  padding: 2px 8px;
  color: var(--text-muted);
  font-weight: 500;
  font-size: var(--font-ui-small);
}

.setting-list {
  padding: 24px 0;
}
.setting-item {
  display: flex;
  align-items: center;
}
.setting-item > svg {
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: var(--text-faint);
}
.setting-item-name {
  color: var(--text-normal);
  font-weight: 600;
}
.setting-item-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
}
.setting-item-actions svg {
  border-radius: var(--radius-s);
  padding: 4px;
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}
