@keyframes placeholder {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.panel-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.preset-panel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-l);
  background-color: var(--background-primary);
  padding: 8px;
  corner-shape: superellipse(1.1);
}
.preset-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
}
.preset-author {
  color: var(--text-faint);
}
.preset-description {
  color: var(--text-muted);
}
.preset-description a {
  color: var(--text-normal);
  font-weight: 500;
}

.preset-preview {
  border-radius: var(--radius-m);
  background-color: var(--background-secondary);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  corner-shape: superellipse(1.1);
  border: var(--border-width) solid var(--background-modifier-border);
}
.preset-preview-content {
  display: block;
  transition: 320ms cubic-bezier(0.1, 0, 0.1, 1.25);
  margin-top: 16px;
  margin-left: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 8px;
  user-select: none;
  corner-shape: superellipse(1.1);
  width: 100%;
}

.preset-preview img {
  cursor: zoom-in;
  width: 250%;
}
.preset-preview img:hover {
  transform: translateX(-4px) translateY(-4px);
}
.preset-preview-loader {
  z-index: 1;
  animation: placeholder 1s linear infinite;
  transition: 320ms;
  background: linear-gradient(90deg, var(--background-secondary), var(--background-primary), var(--background-secondary));
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
}

.preset-actions {
  display: inline-flex;
  position: sticky;
  top: 80px;
  gap: 4px;
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-l);
  background-color: var(--background-primary);
  height: 48px;
  corner-shape: superellipse(1.1);
  flex-shrink: 0;
  align-items: center;
  padding: 8px;
}
.preset-search {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  height: 100%;
  color: inherit;
  font-size: inherit;
  text-indent: 8px;
}

/* Lightbox */
body.lightbox-active {
  overflow: hidden;
}
body:not(.lightbox-active) #lightbox {
  pointer-events: none;
}
#lightbox {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transform: scale(0.995);
  opacity: 0;
  transition: 320ms cubic-bezier(0.1, 0, 0.1, 1.25) allow-discrete;
  cursor: zoom-out;
  border: none;
  background-color: var(--background-secondary);
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#lightbox:popover-open {
  transform: none;
  opacity: 1;
}

.lightbox-img {
  transition: 320ms cubic-bezier(0.1, 0, 0.1, 1.25);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-m);
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  corner-shape: superellipse(1.1);
}
.lightbox-title {
  color: var(--text-muted);
  font-size: var(--font-ui-small);
}

/* Settings Replica */
.setting {
  background: var(--background-secondary);
}
.setting-header {
  border: var(--border-width) solid var(--background-modifier-border);
  background-color: var(--background-primary);
  padding: 16px;
}
.setting-search {
  border: var(--border-width) solid var(--background-modifier-border);
  background: var(--background-primary);
}
.sidebar-section {
  gap: 0;
}
.sidebar-title {
  padding: 8px 12px;
  font-size: var(--font-ui-small);
  line-height: var(--line-height-tight);
}
.sidebar-link.is-active {
  display: flex;
  align-items: center;
  background-color: var(--background-modifier-hover);
  padding: 8px 12px;
  font-size: var(--font-ui-small);
  line-height: var(--line-height-tight);
}
.setting-actions button {
  border-radius: 100vh;
  padding: 0 12px;
}
.setting-actions button:first-child {
  animation: pulse 3s infinite alternate;
}
.setting-item-name {
  font-size: var(--font-ui-small);
}
