/*
Admin
Bradley Wyatt (bwya77)
https://github.com/bwya77/obsidian-baseline-customization/
*/

.theme-dark.admin-dark.color-scheme-accent {
  --accent-h: 206;
  --accent-s: 82%;
  --accent-l: 63%;
}

.theme-dark.admin-dark {
  --color-base-00: #171b21;
  --color-base-05: #1b2026;
  --color-base-10: #20252b;
  --color-base-20: #23282e;
  --color-base-25: #272c32;
  --color-base-30: #33383e;
  --color-base-35: #3c4147;
  --color-base-40: #52575d;
  --color-base-50: #63676d;
  --color-base-60: #979a9e;
  --color-base-70: #b1b3b7;
  --color-base-100: #d9dadc;

  --text-normal: #ffffff;
  --text-muted: #b3b3b3;
  --text-faint: #909090;
}
