/* Atom */

.theme-light.atom-light.color-scheme-accent {
  --accent-h: 231;
  --accent-s: 76%;
  --accent-l: 62%;
}
.theme-light.atom-light {
  --color-red-rgb: 228, 87, 73;
  --color-orange-rgb: 183, 107, 2;
  --color-yellow-rgb: 193, 131, 2;
  --color-green-rgb: 80, 161, 80;
  --color-cyan-rgb: 13, 151, 179;
  --color-blue-rgb: 98, 175, 239;
  --color-purple-rgb: 166, 38, 164;
  --color-pink-rgb: 228, 87, 73;

  --color-base-00: #fafafa;
  --color-base-05: #f5f5f5;
  --color-base-10: #f1f1f2;
  --color-base-20: #eaeaeb;
  --color-base-25: #d8d8d9;
  --color-base-30: #d5d5d6;
  --color-base-35: #cacacb;
  --color-base-40: #b5b5b6;
  --color-base-50: #a4a4a5;
  --color-base-60: #6c6c6e;
  --color-base-70: #5a5a5b;
  --color-base-100: #232324;

  --interactive-normal: rgba(0, 0, 0, 0.1);
  --interactive-hover: rgba(0, 0, 0, 0.15);

  --text-normal: #232324;
  --text-muted: #8e8e90;
  --text-faint: #a0a1a8;

  --text-selection: rgba(180, 180, 183, 0.3);
  --text-highlight-bg: rgba(209, 154, 102, 0.35);
}

.theme-dark.atom-dark.color-scheme-accent {
  --accent-h: 220;
  --accent-s: 86%;
  --accent-l: 65%;
}
.theme-dark.atom-dark {
  --color-red-rgb: 225, 109, 118;
  --color-orange-rgb: 209, 154, 102;
  --color-yellow-rgb: 206, 193, 103;
  --color-green-rgb: 152, 195, 121;
  --color-cyan-rgb: 88, 182, 194;
  --color-blue-rgb: 98, 175, 239;
  --color-purple-rgb: 198, 120, 222;
  --color-pink-rgb: 225, 109, 118;

  --color-base-00: #21252c;
  --color-base-05: #24282f;
  --color-base-10: #262a32;
  --color-base-20: #282c34;
  --color-base-25: #2c3038;
  --color-base-30: #383c44;
  --color-base-35: #41444d;
  --color-base-40: #565a62;
  --color-base-50: #676a72;
  --color-base-60: #999ba3;
  --color-base-70: #b2b5bc;
  --color-base-100: #d8dae1;

  --interactive-normal: #3a3f4b;
  --interactive-hover: #282c34;

  --text-normal: #d8dae1;
  --text-muted: #898f9d;
  --text-faint: #5d6370;

  --text-selection: rgba(114, 123, 141, 0.3);
  --text-highlight-bg: rgba(209, 154, 102, 0.3);
}
