/*
Gruvbox
MIT License
https://github.com/morhetz/gruvbox
*/

.theme-light.gruvbox-light.color-scheme-accent,
.theme-dark.gruvbox-dark.color-scheme-accent {
  --accent-h: 24;
  --accent-s: 88%;
  --accent-l: 45%;
}
.theme-light.gruvbox-light,
.theme-dark.gruvbox-dark {
  --color-red-rgb: 204, 36, 29;
  --color-orange-rgb: 214, 93, 14;
  --color-yellow-rgb: 215, 153, 33;
  --color-green-rgb: 152, 151, 26;
  --color-cyan-rgb: 104, 157, 106;
  --color-blue-rgb: 69, 133, 136;
  --color-purple-rgb: 177, 98, 134;
  --color-pink-rgb: 177, 98, 134;
}

.theme-light.gruvbox-light {
  --color-base-00: #fcf2c7;
  --color-base-05: #f9eec4;
  --color-base-10: #f7ebc1;
  --color-base-20: #f2e6bd;
  --color-base-25: #e1d5ae;
  --color-base-30: #ded2ac;
  --color-base-35: #d3c8a2;
  --color-base-40: #bdb392;
  --color-base-50: #aca385;
  --color-base-60: #746f5c;
  --color-base-70: #615d4f;
  --color-base-100: #282828;

  --interactive-normal: #ebd9b3;
  --interactive-hover: #f2e6bd;

  --text-normal: #282828;
  --text-muted: #7c7065;
  --text-faint: #a89a85;

  --text-selection: rgba(192, 165, 125, 0.3);
  --text-highlight-bg: rgba(215, 153, 33, 0.4);
}
.theme-dark.gruvbox-dark {
  --color-base-00: #1e2021;
  --color-base-05: #202425;
  --color-base-10: #232729;
  --color-base-20: #242a2b;
  --color-base-25: #282f2f;
  --color-base-30: #343d3a;
  --color-base-35: #404841;
  --color-base-40: #615f52;
  --color-base-50: #7c6f64;
  --color-base-60: #a99882;
  --color-base-70: #bdae93;
  --color-base-100: #fbf1c7;

  --interactive-normal: #3d3836;
  --interactive-hover: rgba(62, 57, 55, 0.5);

  --text-normal: #fbf1c7;
  --text-muted: #bdae93;
  --text-faint: #7c6f64;

  --text-selection: rgba(173, 149, 139, 0.3);
  --text-highlight-bg: rgba(215, 153, 33, 0.4);
}
