/* Notion */

.theme-light.notion-light.color-scheme-accent,
.theme-dark.notion-dark.color-scheme-accent {
  --accent-h: 217;
  --accent-s: 67%;
  --accent-l: 57%;

  --background-modifier-border-focus: var(--color-accent);

  --interactive-accent: var(--color-accent);
}
.theme-light.notion-light,
.theme-dark.notion-dark {
  --color-red-rgb: 229, 100, 88;
  --color-orange-rgb: 213, 128, 59;
  --color-yellow-rgb: 216, 163, 47;
  --color-green-rgb: 70, 161, 113;
  --color-cyan-rgb: 55, 164, 180;
  --color-blue-rgb: 39, 131, 222;
  --color-purple-rgb: 181, 119, 214;
  --color-pink-rgb: 219, 105, 153;
}

.theme-light.notion-light {
  --color-base-00: #ffffff;
  --color-base-05: #fdfdfc;
  --color-base-10: #fcfbfa;
  --color-base-20: #f9f8f7;
  --color-base-25: #e5e2df;
  --color-base-30: #e2dfdb;
  --color-base-35: #d5d2cd;
  --color-base-40: #bcb8b1;
  --color-base-50: #a8a49c;
  --color-base-60: #72706b;
  --color-base-70: #5f5e5b;
  --color-base-100: #2c2c2b;

  --text-selection: rgba(131, 201, 229, 0.3);
}
.theme-dark.notion-dark {
  --color-base-00: #191919;
  --color-base-05: #1c1c1c;
  --color-base-10: #1e1e1e;
  --color-base-20: #202020;
  --color-base-25: #252424;
  --color-base-30: #323232;
  --color-base-35: #3c3c3c;
  --color-base-40: #565555;
  --color-base-50: #696968;
  --color-base-60: #a4a4a2;
  --color-base-70: #c3c2c0;
  --color-base-100: #f0efed;

  --text-normal: #f0efed;
  --text-muted: #9b9b9b;
  --text-faint: #65645f;
}
