/* Things */

.theme-dark.things-dark.color-scheme-accent {
  --accent-h: 215;
  --accent-s: 91%;
  --accent-l: 64%;
}
.theme-dark.things-dark {
  --color-red-rgb: 255, 48, 108;
  --color-orange-rgb: 255, 149, 2;
  --color-yellow-rgb: 255, 213, 0;
  --color-green-rgb: 75, 191, 94;
  --color-cyan-rgb: 73, 174, 164;
  --color-purple-rgb: 176, 81, 222;
  --color-pink-rgb: 255, 46, 85;
}

.theme-dark.things-dark {
  --color-blue-rgb: 77, 149, 247;

  --color-base-00: #202225;
  --color-base-05: #212427;
  --color-base-10: #232529;
  --color-base-20: #24262a;
  --color-base-25: #282a2e;
  --color-base-30: #34363a;
  --color-base-35: #3d3f43;
  --color-base-40: #535559;
  --color-base-50: #64666a;
  --color-base-60: #97999c;
  --color-base-70: #b1b3b5;
  --color-base-100: #d9dadb;

  --interactive-normal: #3d3f41;
  --interactive-hover: #202225;

  --text-normal: #fbfbfb;
  --text-muted: #cbcccd;
  --text-faint: #6c6e70;

  --text-selection: rgba(40, 119, 236, 0.35);
}
