body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(20px * var(--radius-modifier));
  --radius-xl: calc(28px * var(--radius-modifier));

  /* 0 when <1, 1 when >=1 */
  --radius-modifier-check: clamp(0, (var(--radius-modifier) - 1) * 10000 + 1, 1);
  --button-radius: calc((8px * var(--radius-modifier)) * (1 - var(--radius-modifier-check)) + 100vh * var(--radius-modifier-check));

  --input-shadow-base: 0px 4px 4px -2px hsl(0 0 0 / 0.025), 0px 2px 4px -1px hsl(0 0 0 / 0.025);
}

body:where(.input-baseline, :not(.css-settings-manager)) {
  --input-font-weight: var(--font-medium);

  &.theme-light {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 -1px 2px hsl(0 0 0 / 0.025), var(--input-shadow-base);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--background-modifier-border-hover), inset 0 -1px hsl(0 0 0 / 0.025);
    --input-shadow-inset: inset 0 0 0 var(--input-border-width) var(--background-modifier-border), 0 1px hsl(0 0 100 / 0.75), inset 0 4px 4px -2px hsl(0 0 0 / 0.05);
  }
  &.theme-dark {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--background-modifier-hover), inset 0 1px hsl(0 0 0 / 0.1), var(--input-shadow-base);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
    --input-shadow-inset: inset 0 0 0 var(--input-border-width) var(--background-modifier-hover), inset 0 4px 4px -2px hsl(0 0 0 / 0.15), inset 0 -1px hsl(0 0 0 / 0.05);
  }

  textarea,
  input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]):not(.prompt-input) {
    border: none;
    box-shadow: var(--input-shadow-inset);
  }

  // Button
  button.mod-cta {
    --input-shadow: none;
    --input-shadow-hover: none;
  }
  button.mod-warning {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--color-red);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--color-red);
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    border: none;
    box-shadow: var(--input-shadow);
  }
}

body:where(.input-subtle) {
  --input-font-weight: var(--font-medium);

  &.theme-light {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--background-modifier-border);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  }
  &.theme-dark {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--background-modifier-border);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  }

  button.mod-cta {
    --input-shadow: inset 0 0 0 var(--input-border-width) var(--interactive-accent);
    --input-shadow-hover: inset 0 0 0 var(--input-border-width) var(--interactive-accent-hover);
  }
}

// Button
button,
.clickable-icon,
select,
.dropdown {
  transition:
    var(--anim-duration-moderate) var(--anim-motion-baseline),
    background-color var(--anim-duration-fast);
}

button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  corner-shape: round;
  padding: 8px;
  max-height: 100%;
}

// Toggle
body:not(.accented-interface) .checkbox-container {
  --interactive-accent: var(--color-green);
}

.obsidian-app .checkbox-container {
  transition: var(--anim-duration-moderate);
  box-shadow: none;

  &:focus-within {
    outline: none;
  }

  &::after {
    box-shadow: var(--input-shadow-base);
    transition:
      var(--anim-duration-moderate) var(--anim-motion-baseline),
      background-color 0s;
  }
  &:active:after {
    box-shadow: none;
    width: calc(var(--toggle-thumb-width) + var(--toggle-border-width));
    height: var(--toggle-thumb-height);
    margin-top: var(--toggle-border-width);
  }
  &.is-enabled:active:after {
    left: calc(var(--toggle-border-width) * -1);
  }
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
