body.layout-fusion:not(.is-mobile) {
  // Editor panel
  .mod-root {
    z-index: 5;
  }
  .workspace-tabs {
    overflow: visible;
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent !important;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}

body.layout-fusion:not(.is-phone) {
  // Editor panel
  &:not(.tab-floating, .tab-floating-center) .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) {
    --tab-outline-color: transparent;
  }

  &:is(.tab-floating, .tab-floating-center):not(.is-popout-window) .mod-root .workspace-tabs:not(.mod-stacked) {
    .workspace-leaf {
      background-color: var(--blur-background);
    }

    .view-header,
    .view-content,
    .document-search-container {
      background-color: transparent;
    }
  }
}

body.layout-fusion.is-tablet {
  .workspace-drawer.mod-left.is-pinned {
    margin-right: 8px;
  }

  &.input-cupertino:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--blur-background) !important;
    box-shadow: var(--shadow-tab);
  }

  &:not(.tab-floating, .tab-floating-center) {
    .workspace {
      background-color: var(--background-secondary);
    }
  }
}
